/* 태블릿 */

@media all and (min-width:768px) and (max-width:1023px) {

header, .center{width:100%;}

#visual, #visual>.ban{height:40vw;}

#visual>.ban>div>p,
#visual>.ban>div span{margin:20% 0; font-size:3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}

nav{display:none;}

.mIcon{display:block; position:absolute; top:40%; right:5%;}

.conTop>.center{margin:5% auto;}

.conTop .topBox{margin:5% auto; float:none;}

.topBox2{order:3;} .topBox3{order:2;}

.conBot>.center{padding-top:5%; padding-bottom:5%; margin:0;}

.conBot .botBox1{width:90%; justify-content: center; padding-left:5%;}

.conBot .botBox1 img{width:100%;}

.conBot .botBox2, .conBot .botBox3{margin:3% 3% 3% 10%;}

}

/* 모바일 */

@media all and (max-width:767px) {

/* 100% 만들기 */
header, .center{width:100%;}

/* display none 시키기 */

.topmenu, nav{display:none;}

/* header */

header>.logo{margin:2%;}

header>.logo img, .footLogo img{width:50vw;}

/* nav */
.mIcon{display:block; position:absolute; top:20%; right:3%;}

#mGnb{display:block; position:fixed; top:0; right:0; z-index:10000; background-color:rgba(78,78,78,0.9); width:50%; height:100vh;}

#mGnb>li>a{display:block; color:white; font-size:18px; text-transform:uppercase; line-height:70px; font-weight:500; text-indent:40px;}

#mGnb .sub{position:static; display:none; background-color:rgba(255,255,255,0.2);}

#mGnb .sub>li{height:0; width:40vw; padding:10px 0 30px 40px; border-bottom:1px solid #dadada;}

#mGnb .sub>li>a{color:#dadada;}

#mGnb>li:hover .sub{display:block; height:100%;}

/* banner */
#visual, #visual>.ban{height:40vw;}

#visual>.ban>div>p,
#visual>.ban>div span{margin:20% 0; font-size:3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}

#visual .btn{bottom:0;}

/* container */

/* container top */

.conTop>.center{margin:5% auto;}

.conTop .topBox{width:50%;}

.topBox>a>.img{width:100%; background-image:none; background-repeat:no-repeat; background-position:center; background-size:cover; background-color:rgb(78,78,78);}

.topBox>a>.img>img{width:100%; height:auto; opacity:0.5;}

.conTop .topBox .linetop,.conTop .topBox .linebot,
.conTop .topBox:after{display:none;}

.topBox>a>.mobile{position:absolute; display:block; color:#fff; font-size:5vw; top:3.5vw; left:3.5vw; border:2px solid #dadada; width:80%; text-align: center; padding:15.5vw 1vw 15.5vw;}

/* container bottom */
.conBot{margin:5% auto; padding:0; background-color:#fff;}

.botBox1 img{width:100%;}

.conBot .botBox2, .conBot .botBox3{width:50%; height:20vw; margin:5% auto;}

.conBot .botBox2>p, .conBot .botBox3>p{display:none;}

.conBot .botBox2>h3, .conBot .botBox3>h3{font-size:4vw; padding:0; line-height:2.1em;}

.conBot .botBox2>a, .conBot .botBox3>a{margin:0 auto; width:80%; height:10vw; line-height: 10vw; font-size:4vw;}

.conBot .botBox4{margin:0 0 2.5%; width:98%; height:100%;}

.botBox4>div{width:100%; padding-bottom:10%;}

.botBox4>.news ul{width:60%; border-right:none;}

.botBox4>.news{border-bottom:1px dashed #ccc;}

.botBox4>.onshop{position:relative;}

.botBox4>.news .more{left: 90%;}

.botBox4>.onshop .more{top: 44px; left: 90%;}

.conBot .botBox5, .conBot .botBox6{margin:2.5% 0 0; width:50%; height:50%; background-repeat:no-repeat; background-size:100%; background-position:80% 50%;}

.botBox5 ul{display:none;}

.botBox6 .gallery1, .botBox6 .gallery2{display:none;}

.botBox5 h3, .botBox6 h3,
.botBox5 span, .botBox6 span{text-align:center; font-size:4vw; padding:0; line-height:2em;}
    
.botBox5 .mMore, .botBox6 .mMore{display: block; text-align: center; color: white; border: 1px solid white; margin:5% auto 5%; transition:0.2s; width:80%; height:10vw; line-height: 10vw; font-size:4vw;}

.botBox5 .mMore, .botBox6 .mMore:hover{text-decoration: none;}

/* footer */
.footLogo{margin:5% 2%;}

.footmenu{margin:25% 0 5% 2%;}

small{line-height: 1.5;}

form{top:2%; left:2%;} }